%br
%br
%br
.row
  .span6.columns.offset5
    #logo
      %h1
        Bookistha
        %sup Beta
%br
%br
%br
.book_search
  %form{:url => "/somewhere", :method => :post}
    .row
      .span11.columns.offset1
        %input.xlarge#searchbox{:type => :text}
      .span4.columns
        %input.btn.large.primary#search_button{:type => :submit}
%br
%br
%br
.row    
  .span4.columns.offset2
    .well
      %p 
        %strong 435
        %br
        books added and still counting
  .span4.columns.offset2
    .well
      %p
        %strong Books added recently
      %p
        %a{:href => "#"} Name of the Book1
        %br
        %a{:href => "#"} Name of the Book2
        %br
        %a{:href => "#"} Name of the Book3
        %br
        %a{:href => "#"} Name of the Book4
        %br
        %a{:href => "#"} Name of the Book5
        %br
        %a{:href => "#"} Name of the Book6
        %br
