.row
  .span4.columns
    .user_profile
      %pre.prettyprint
        %img{:src => gravtastic(current_user.email,150), :id => "wavatar", :style => "padding-left:15px;"}
      .twipsy.below.avatar-twipsy
        .twipsy-arrow
        .twipsy-inner
          We love gravatar and we use it to show your avatar. Checkout 
          %a(href="http:gravatar.com") gravatar.com
          to change your avatar.
  .span12.columns
    .books_list
      - @books.each do |b|
        .book
          = render :partial => "books/book", :locals => {:book => b }
    %br
    = link_to 'Add a Book', new_book_path, :class => "btn big primary" 
